table {
  color: white;
  width: fill;
}
.body{
  display: flex;
  align-items: center;
}
.cadre{
    display: flex;
    justify-content: center;
    height: fill;
}
.bandeau{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 60%;
  margin-bottom: -1vw;
}

caption{
    margin-left: 8vw;
    font-size: 2vw;
    color: red;
}
