main{
  background: linear-gradient(#2C0238, #602870) ;
  height:100%;
  width:100%;
  font-size: 1vw;
  color:#FFF;
}
*{
  margin:0

}
/*
.fake{
  height: 2000px
}
*/
header img{
  height: 4.75vw;
  width: 4.75vw;
}

.haut{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right,#2C0238, #7D488C);
}

h1{
  font-size: 2.75vw;
  color: white;
  font-family: 'Sniglet', sans-serif;
}
h2{
  color: Black;
}

.liste{
  position: sticky;
  top:0;
  background: linear-gradient(to right,#2C0238, #7D488C);
  height: 1vw;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.liste li a{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  min-width: 10vw;
}
.liste li:hover{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: radial-gradient(ellipse at 50% 110%, rgba(255,255,255,0.50)10%,transparent 75%);
  height: fill;
  padding-bottom: 0.25w;
  min-width: 1vw;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #4C0099;
}
.footer{
  height: 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}

.footer a, .Copyright p{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  color: grey;
  font-size: 1vw;
}
.footer a:hover{
  text-shadow: 140vw 0 9vw black;
  color: white;
}

/*Chambre*/
.chambre img{
    border: red solid;
    border-radius: 1vw ;
    max-width: 100%;
    max-height: 100%;
    height: 10vw;
    width: 10vw;

}
.fake {
  display: flex;
  align-items: center;
}
.chambre{
  display: flex;
  flex-direction: row;
  background: grey;
  margin: 2vw;
  border: transparent solid ;
  border-radius: 1vw ;
  box-shadow: 1.5vw 1vw 1.5vw black;
  height: auto;
  padding:0.5vw;
  max-width: 80%;

}

.chambre p{
  font-size: 1vw;
  color: white;
  margin-bottom: 1vw;
  overflow:scroll;
}
::-webkit-scrollbar {
  display: none;}
.chambre .division{
  font-family: 'Acme', sans-serif;
  display: flex;
  flex-direction: column;
  padding-left:0.5vw;
  font-size:1.25vw;

}
.chambre form{
  align-self: flex-end;
}
.chambre input{
  border: transparent solid;
  font-size: 1vw;
  padding:0.5vw 0.75vw 0.5vw 0.75vw;
  border-radius:2vw;
  background:red;
  font-family: 'Acme', sans-serif;
  color:#fff;
}
.chambre input:hover{
  border: white solid;
}
.chambre:hover{
  border: white solid ;
}
