main{
  background: linear-gradient(#2C0238, #602870) ;
  padding-bottom: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
}
*{
  margin:0
}
/*
.fake{
  height: 2000px
}
*/
header img{
  height: 150px;
  width: 150px;
}

.haut{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right,#2C0238, #7D488C);
}

h1{
  font-size: 50px;
  color: white;
  font-family: 'Sniglet', sans-serif;
}
h2{
  color: purple;
}

.liste{
  position: sticky;
  top:0;
  background: linear-gradient(to right,#2C0238, #7D488C);
  height: 40px;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.liste li a{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  min-width: 100px;
}
.liste li:hover{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: radial-gradient(ellipse at 50% 110%, rgba(255,255,255,0.50)10%,transparent 75%);
  height: fill;
  padding-bottom: 10px;
  min-width: 100px;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #4C0099;
}
.footer{
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}

.footer a, .Copyright p{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  color: grey;
}
.footer a:hover{
  text-shadow: 5px 0px 9px black;
  color: white;
}

/*Chambre*/
.chambre img{
    border: red solid;
    border-radius: 10px ;
    max-width: 100%;
    max-height: 100%;

}
.fake {
  display: flex;
  align-items: center;
}
.chambre{
  display: flex;
  flex-direction: row;
  background: grey;
  margin: 10px;
  border: transparent solid ;
  border-radius: 10px ;
  box-shadow: 15px 10px 15px black;
  height: 150px;
  padding:5px;
  max-width: 80%

}

.chambre p{
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  overflow:scroll;
}
::-webkit-scrollbar {
  display: none;}
.chambre .division{
  font-family: 'Acme', sans-serif;
  display: flex;
  flex-direction: column;
  padding-left:5px;

}
.chambre form{
  align-self: flex-end;
}
.chambre input{
  border: transparent solid;
  font-size: 20px;
  padding:2px 8px 10px 8px;
  border-radius:8px;
  background:red;
  font-family: 'Acme', sans-serif;
  color:#fff;
}
.chambre input:hover{
  border: white solid;
}
.chambre:hover{
  border: white solid ;
}
